/* General Body Styles */
body {
    font-family: 'Jaldi', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd; /* A neutral background color */
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo img {
    height: 60px; /* Adjust as needed */
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

/* Dropdown for "My Work" */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EBC9B9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 20px;
    background-color: #f1f1f1;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    /* Add styles for your icons here */
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.contact-text {
    color: black;
    font-size: 18px;
    font-weight: 400;
}

